.button-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;

  & button {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    background-color: var(--brand-dark);
    border: none;
    border-radius: 0.5rem;
    padding: 0.812rem 1.25rem;

    & span {
      font: var(--body-md);
      font-weight: 600;
      color: var(--text-heading);
    }
  }
}
