.file-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  span {
    font: var(--body-md);
    color: var(--input-placeholder);
  }
}

.button-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.656rem 0.75rem;
  background-color: var(--shape-button);
  border-radius: 0.5rem;

  position: relative;

  & input[type="file"] {
    all: unset;
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;

    & ::-webkit-file-upload-button {
      display: none;
    }

    &::file-selector-button {
      display: none;
    }
  }

  & span {
    font: var(--body-sm);
    font-weight: 600;
    color: var(--text-heading);
  }
}
