input,
textarea {
  width: 100%;
  padding: 0.8125rem 1.25rem;
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;

  background-color: var(--input-base);
  font: var(--body-md);
  color: var(--input-placeholder);
  outline: none;
}

textarea {
  resize: none;
  padding: 1rem;
}

label {
  display: block;
  margin-bottom: 0.75rem;
  font: var(--body-sm);
  color: var(--text-body);
}
