label {
  display: block;
  margin-bottom: 0.75rem;
  font: var(--body-sm);
  color: var(--text-body);
}

input[type="text"],
input[type="datetime"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 0.8125rem 1.25rem;
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;

  background-color: var(--input-base);
  font: var(--body-md);
  color: var(--input-placeholder);
  outline: none;

  &:invalid {
    border: 1px solid var(--danger);
  }

  &:focus,
  &:focus-within {
    border: 1px solid var(--brand-light);
  }

  &:valid + .error {
    display: none;
  }
}

textarea {
  resize: none;
  padding: 1rem;
}

.error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;

  small {
    font: var(--body-xs);
    color: var(--danger);
  }
}
