.about {
  & .input-wrapper {
    display: flex;
    flex-direction: column;
  }

  & .radio-wrapper {
    display: flex;
    flex: 1;
    gap: 0.25rem;
    padding: 0.25rem;

    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;

    &:focus,
    &:focus-within {
      border: 1px solid var(--brand-light);
    }
  }

  & .radio-inner {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    position: relative;

    & input[type="radio"] {
      all: unset;
      position: absolute;
      inset: 0;
      cursor: pointer;
    }

    & svg {
      flex: 0 0 1rem;
      width: 1rem;
      height: 1rem;
    }

    & span {
      font: var(--body-sm);
      color: var(--text-body);
    }

    &:has(:checked) {
      background-color: var(--shape-button);
      border-radius: 0.25rem;

      & svg path {
        fill: var(--brand-light);
      }

      & span {
        color: var(--text-heading);
        font-weight: 600;
      }
    }
  }
}

.personalization {
  & .event-color {
    & .radio-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 0.75rem;
    }

    & .radio-inner {
      width: 2.5rem;
      height: 2.5rem;
      border: 6px solid var(--shape-button);
      border-radius: 50%;

      position: relative;

      input[type="radio"] {
        all: unset;
        position: absolute;
        inset: 0;
        cursor: pointer;
        border-radius: 50%;
      }

      &:hover {
        border-color: var(--shape-hover);
      }

      &:has(:checked),
      &:focus-within {
        outline: 2px solid var(--brand-light);
        outline-offset: -2px;
      }
    }

    & .radio-inner {
      &:nth-child(1) {
        background-color: var(--brand-light);
      }

      &:nth-child(2) {
        background-color: var(--navy);
      }

      &:nth-child(3) {
        background-color: var(--purple);
      }

      &:nth-child(4) {
        background-color: var(--fuschia);
      }

      &:nth-child(5) {
        background-color: var(--pink);
      }

      &:nth-child(6) {
        background-color: var(--danger);
      }

      &:nth-child(7) {
        background-color: var(--orange);
      }

      &:nth-child(8) {
        background-color: var(--yellow);
      }

      &:nth-child(9) {
        background-color: var(--lime);
      }

      &:nth-child(10) {
        background-color: var(--green);
      }

      &:nth-child(11) {
        background-color: var(--cyan);
      }
    }
  }

  & .event-theme {
    & .radio-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.5rem;
    }

    & .radio-inner {
      background-color: var(--shape-button);
      border: 1px solid var(--input-stroke);
      border-radius: 0.5rem;
      text-align: center;
      cursor: pointer;
      padding: 0.25rem 0.25rem 0.5rem;

      position: relative;

      input[type="radio"] {
        all: unset;
        position: absolute;
        inset: 0;
      }

      &:hover {
        background-color: var(--shape-hover);
      }

      &:has(:checked),
      &:focus,
      &:focus-within {
        outline: 2px solid var(--brand-light);
        outline-offset: -2px;
      }

      & img {
        border-radius: 0.25rem;
        margin-bottom: 0.5rem;
      }

      & label {
        margin: 0;
        font: var(--body-sm);
        color: var(--text-heading);
      }
    }
  }
}
