* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  --danger: #ff5959;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  --font-family-leckerli: "Leckerli One", cursive;
  --font-family-baloo: "Baloo 2", sans-serif;
  --font-family-open: "Open Sans", sans-serif;

  --logo: 400 2.5rem / normal var(--font-family-leckerli);

  --heading-md: 700 1.75rem / normal var(--font-family-baloo);
  --heading-sm: 700 1.125rem / normal var(--font-family-baloo);

  --body-md: 400 1rem / normal var(--font-family-open);
  --body-sm: 400 0.0625rem / normal var(--font-family-open);
  --body-xs: 400 0.75rem / normal var(--font-family-open);
}

body {
  font: var(--body-md);
  color: var(--text-heading);
  overflow: hidden;
}

h1 {
  font: var(--logo);
  color: var(--pink);
  margin-block: 1rem 0.25rem;
}
