#app {
  display: grid;
  grid-template-columns: 400fr 620fr;
  gap: 1.25rem;
  padding: 1.25rem;
  height: 100vh;
  overflow: hidden;
  background-color: var(--shape-background);
}

aside {
  background-image: url(../assets/Background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  overflow: hidden;
  border-radius: 0.75rem;

  header {
    margin: 2rem 2rem 0;

    img {
      width: 2.86rem;
      height: 3rem;
    }

    p {
      font-weight: 300;
    }
  }
}

main {
  background-color: var(--shape-body);
  border-radius: 0.75rem;
  overflow: auto;
}
