#app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25rem;

  height: 100vh;
  padding: 1.25rem;
  overflow: hidden;
}

aside {
  background-image: url(../assets/Background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  overflow: hidden;
  border-radius: 0.75rem;

  header {
    margin: 2rem 2rem 0;

    p {
      font-weight: 300;
    }
  }
}

main {
  background-color: var(--shape-body);
  border-radius: 0.75rem;
  overflow: auto;

  & .main-container {
    display: grid;
    margin: 5rem 8.125rem;
  }
}
